/*===================================================================================================
1) @font-face definitions
===================================================================================================*/
@import url(http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic,700italic|Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300,200|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One|Arvo:400,700,400italic,700italic|Coustard:400,900|Bitter:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Bevan);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|PT+Sans:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Euphoria+Script);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Quando);
@import url(http://fonts.googleapis.com/css?family=Pompiere|Roboto+Slab:400,300,100,700|Arizonia);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic|Abril+Fatface);
@import url(http://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Archivo+Black|Archivo+Narrow:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic|Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Nunito:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Nobile:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
@import url(http://fonts.googleapis.com/css?family=Alegreya:400italic,400,900,700);
/*===================================================================================================
2) Styles
===================================================================================================*/

pre {
    word-wrap: break-word;
    background-color: #444 !important;
}

pre .lit {
    color: #ccc !important;
}

pre .str {
    color: #e9919a !important;
}

pre .com {
    color: #e9919a !important;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    background-color: #FFFFFF;
}

.wrapper {

}
.background {
    padding: 50px 0;
}

.container {
    margin: 0px auto;
    height: auto;
    width: 600px;
}


/* Section 1 */

.section-1 {
    color: #333;
}

.section-1.background {
    background: #fff;
}

.section-1 a:link, .section-1 a:visited, .section-1 span {
    color: #da5c67;
    text-decoration: none;
}

.section-1 h1 {
    margin-bottom: 25px;
    font-weight: 400;
    font-style: normal;
    font-size: 75px;
    line-height: 75px;
    font-family: Oswald;
}

.section-1 h2 {
    line-height: 25px;
    margin-bottom: 25px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    font-family: Oswald;
}

.section-1 h4 {
    margin-top: 50px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-family: Oswald;
}

.section-1 h6 {
    font-family: Oswald;
    line-height: 75px;
    font-size: 75px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
}

.section-1 p.intro { 
    font-size: 24px;
    line-height: 50px;
    margin-bottom: 25px;
}

.section-1 p {
    line-height: 25px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Istok Web';
    font-size: 16px;
}

/* Section 2 */

.section-2 {
    color: #fff;
}

.section-2.background {
    background: #333;
}

.section-2 a:link, .section-2 a:visited, .section-2 span {
    color: #da5c67;
    text-decoration: none;
}

.section-2 h1 {
    margin-bottom: 25px;
    font-weight: 400;
    font-style: normal;
    font-size: 75px;
    line-height: 75px;
    font-family: 'Fjalla One';
}

.section-2 h2 {
    line-height: 25px;
    margin-bottom: 25px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Fjalla One';
}

.section-2 h4 {
    margin-top: 50px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Fjalla One';
}

.section-2 h6 {
    font-family: 'Fjalla One';
    line-height: 75px;
    font-size: 75px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
}

.section-2 p.intro { 
    font-size: 24px;
    line-height: 50px;
    margin-bottom: 25px;
}

.section-2 p {
    line-height: 25px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Open Sans';
    font-size: 16px;
}

/* Section 3 */

.section-3 {
    color: #333;
}

.section-3.background {
    background: #ccc;
}

.section-3 a:link, .section-3 a:visited, .section-3 span {
    color: #da5c67;
    text-decoration: none;
}

.section-3 h1 {
    margin-bottom: 25px;
    font-weight: 400;
    font-style: normal;
    font-size: 75px;
    line-height: 75px;
    font-family: 'Alfa Slab One', cursive;
}

.section-3 h2 {
    line-height: 25px;
    margin-bottom: 25px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Alfa Slab One', cursive;
}

.section-3 h4 {
    margin-top: 50px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Alfa Slab One', cursive;
}

.section-3 h6 {
    font-family: 'Alfa Slab One', cursive;
    line-height: 75px;
    font-size: 75px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
}

.section-3 p.intro { 
    font-size: 24px;
    line-height: 50px;
    margin-bottom: 25px;
}

.section-3 p {
    line-height: 25px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Bitter', serif;
    font-size: 16px;
}

/* Section 4 */

.section-4 {
    color: #fff;
}

.section-4.background {
    background: #da5c67;
}

.section-4 a:link, .section-4 a:visited, .section-4 span {
    color: #333;
    text-decoration: none;
}

.section-4 h1 {
    margin-bottom: 25px;
    font-weight: 700;
    font-style: normal;
    font-size: 75px;
    line-height: 75px;
    font-family: 'Archivo Narrow';
}

.section-4 h2 {
    line-height: 25px;
    margin-bottom: 25px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Archivo Narrow';
}

.section-4 h4 {
    margin-top: 50px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Archivo Narrow';
}

.section-4 h6 {
    font-family: 'Archivo Narrow';
    line-height: 75px;
    font-size: 75px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 700;
}

.section-4 p.intro { 
    font-size: 24px;
    line-height: 50px;
    margin-bottom: 25px;
}

.section-4 p {
    line-height: 25px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Coustard', serif;
    font-size: 16px;
}


/* Section 5 */

.section-5 {
    color: #333;
}

.section-5.background {
    background: #fff;
}

.section-5 a:link, .section-5 a:visited, .section-5 span {
    color: #da5c67;
    text-decoration: none;
}

.section-5 h1 {
    margin-bottom: 25px;
    font-weight: 700;
    font-style: normal;
    font-size: 75px;
    line-height: 75px;
    font-family: 'PT Sans';
}

.section-5 h2 {
    line-height: 25px;
    margin-bottom: 25px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    font-family: 'PT Sans';
}

.section-5 h4 {
    margin-top: 50px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 700;
    font-family: 'PT Sans';
}

.section-5 h6 {
    font-family: 'PT Sans';
    line-height: 75px;
    font-size: 75px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
}

.section-5 p.intro { 
    font-size: 24px;
    line-height: 50px;
    margin-bottom: 25px;
}

.section-5 p {
    line-height: 25px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Lato', serif;
    font-size: 16px;
}


/* Section 6 */

.section-6 {
    color: #fff;
}

.section-6.background {
    background: #333;
}

.section-6 a:link, .section-6 a:visited, .section-6 span {
    color: #da5c67;
    text-decoration: none;
}

.section-6 h1 {
    margin-bottom: 25px;
    font-weight: 300;
    font-style: normal;
    font-size: 75px;
    text-transform: uppercase;
    line-height: 75px;
    font-family: 'Lato';
}

.section-6 h2 {
    line-height: 25px;
    margin-bottom: 25px;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    font-family: 'Lato';
}

.section-6 h4 {
    margin-top: 50px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 300;
    font-family: 'Lato';
}

.section-6 h6 {
    font-family: 'Lato';
    line-height: 75px;
    font-size: 75px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 300;
}

.section-6 p.intro { 
    font-size: 24px;
    line-height: 50px;
    margin-bottom: 25px;
}

.section-6 p {
    line-height: 25px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Droid Serif', serif;
    font-size: 16px;
}


/* Section 7 */

.section-7 {
    color: #333;
}

.section-7.background {
    background: #ccc;
}

.section-7 a:link, .section-7 a:visited, .section-7 span {
    color: #da5c67;
    text-decoration: none;
}

.section-7 h1 {
    margin-bottom: 25px;
    font-weight: 400;
    font-style: normal;
    font-size: 75px;
    line-height: 75px;
    font-family: 'Archivo Black';
}

.section-7 h2 {
    line-height: 25px;
    margin-bottom: 25px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Archivo Black';
}

.section-7 h4 {
    margin-top: 50px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Archivo Black';
}

.section-7 h6 {
    font-family: 'Archivo Black';
    line-height: 75px;
    font-size: 75px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
}

.section-7 p.intro { 
    font-size: 24px;
    line-height: 50px;
    margin-bottom: 25px;
}

.section-7 p {
    line-height: 25px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Quando', serif;
    font-size: 16px;
}


/* Section 8 */

.section-8 {
    color: #fff;
}

.section-8.background {
    background: #da5c67;
}

.section-8 a:link, .section-8 a:visited, .section-8 span {
    color: #333;
    text-decoration: none;
}

.section-8 h1 {
    margin-bottom: 25px;
    font-weight: 300;
    font-style: normal;
    font-size: 75px;
    line-height: 75px;
    font-family: 'Exo';
}

.section-8 h2 {
    line-height: 25px;
    margin-bottom: 25px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Exo';
}

.section-8 h4 {
    margin-top: 50px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 300;
    font-family: 'Exo';
}

.section-8 h6 {
    font-family: 'Exo';
    line-height: 75px;
    font-size: 75px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 300;
}

.section-8 p.intro { 
    font-size: 24px;
    line-height: 50px;
    margin-bottom: 25px;
}

.section-8 p {
    line-height: 25px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}



/* Section 9 */

.section-9 {
    color: #333;
}

.section-9.background {
    background: #fff;
}

.section-9 a:link, .section-9 a:visited, .section-9 span {
    color: #da5c67;
    text-decoration: none;
}

.section-9 h1 {
    margin-bottom: 25px;
    font-weight: 300;
    font-style: normal;
    font-size: 75px;
    line-height: 75px;
    font-family: 'Abril Fatface';
}

.section-9 h2 {
    line-height: 25px;
    margin-bottom: 25px;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    font-family: 'Abril Fatface';
}

.section-9 h4 {
    margin-top: 50px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 300;
    font-family: 'Abril Fatface';
}

.section-9 h6 {
    font-family: 'Abril Fatface';
    line-height: 75px;
    font-size: 75px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 300;
}

.section-9 p.intro { 
    font-size: 24px;
    line-height: 50px;
    margin-bottom: 25px;
}

.section-9 p {
    line-height: 25px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Source Sans Pro', serif;
    font-size: 16px;
}



/* Section 10 */

.section-10 {
    color: #fff;
}

.section-10.background {
    background: #333;
}

.section-10 a:link, .section-10 a:visited, .section-10 span {
    color: #da5c67;
    text-decoration: none;
}

.section-10 h1 {
    margin-bottom: 25px;
    font-weight: 300;
    font-style: normal;
    font-size: 75px;
    line-height: 75px;
    text-transform: uppercase;
    font-family: 'Josefin Slab';
}

.section-10 h2 {
    line-height: 25px;
    margin-bottom: 25px;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    font-family: 'Josefin Slab';
}

.section-10 h4 {
    margin-top: 50px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 300;
    font-family: 'Josefin Slab';
}

.section-10 h6 {
    font-family: 'Josefin Slab';
    line-height: 75px;
    font-size: 75px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 300;
}

.section-10 p.intro { 
    font-size: 24px;
    line-height: 50px;
    margin-bottom: 25px;
}

.section-10 p {
    line-height: 25px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}


/* Section 11 */

.section-11 {
    color: #333;
}

.section-11.background {
    background: #ccc;
}

.section-11 a:link, .section-11 a:visited, .section-11 span {
    color: #da5c67;
    text-decoration: none;
}

.section-11 h1 {
    margin-bottom: 25px;
    font-weight: 600;
    font-style: normal;
    font-size: 75px;
    line-height: 75px;
    font-family: 'Muli';
}

.section-11 h2 {
    line-height: 25px;
    margin-bottom: 25px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Muli';
}

.section-11 h4 {
    margin-top: 50px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Muli';
}

.section-11 h6 {
    font-family: 'Muli';
    line-height: 75px;
    font-size: 75px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
}

.section-11 p.intro { 
    font-size: 24px;
    line-height: 50px;
    margin-bottom: 25px;
    font-weight: 400;
}

.section-11 p {
    line-height: 25px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
}

/* Section 12 */

.section-12 {
    color: #fff;
}

.section-12.background {
    background: #da5c67;
}

.section-12 a:link, .section-12 a:visited, .section-12 span {
    color: #333;
    text-decoration: none;
}

.section-12 h1 {
    margin-bottom: 25px;
    font-weight: 700;
    font-style: normal;
    font-size: 75px;
    line-height: 75px;
    font-family: 'Oxygen';
}

.section-12 h2 {
    line-height: 25px;
    margin-bottom: 25px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Oxygen';
}

.section-12 h4 {
    margin-top: 50px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Oxygen';
}

.section-12 h6 {
    font-family: 'Oxygen';
    line-height: 75px;
    font-size: 75px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 700;
}

.section-12 p.intro { 
    font-size: 24px;
    line-height: 50px;
    margin-bottom: 25px;
    font-weight: 400;
}

.section-12 p {
    line-height: 25px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Nobile', sans-serif;
    font-size: 16px;
}

/* Section 13 */

.section-13 {
    color: #333;
}

.section-13.background {
    background: #fff;
}

.section-13 a:link, .section-13 a:visited, .section-13 span {
    color: #da5c67;
    text-decoration: none;
}

.section-13 h1 {
    margin-bottom: 25px;
    font-weight: 700;
    font-style: normal;
    font-size: 75px;
    line-height: 75px;
    font-family: 'Montserrat';
    text-transform: uppercase;
}

.section-13 h2 {
    line-height: 25px;
    margin-bottom: 25px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Montserrat';
    text-transform: uppercase;
}

.section-13 h4 {
    margin-top: 50px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Montserrat';
    text-transform: uppercase;
}

.section-13 h6 {
    font-family: 'Montserrat';
    text-transform: uppercase;
    line-height: 75px;
    font-size: 75px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 700;
}

.section-13 p.intro { 
    font-size: 24px;
    line-height: 50px;
    margin-bottom: 25px;
    font-weight: 400;
}

.section-13 p {
    line-height: 25px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Alegreya', serif;
    font-size: 16px;
}

.section-13 p em, .section-13 p i {
    font-family: 'Alegreya', serif;
}