.c-button {
    border: none;
    -webkit-appearance: none;
    padding: 10px 25px;
    @include borderRadius(5px);
    font-size: 16px;
    color: $color-white;
    font-weight: 400;
    font-family: $font-body;
    cursor: pointer;
    @include transition(0.2s);

    &--github {
        background: $color-black;
    }

    i {
        margin-right: 10px;
        display: inline-block;
        font-size: 25px;
        height: $size-base;
        line-height: $size-base;
        vertical-align: text-bottom;

        &.icon-right {
            margin-right: 0;
            margin-left: 10px;
        }
    }

    span {
        height: $size-base;
        line-height: $size-base;
        vertical-align: text-bottom;
        display: inline-block;
    }

    .t-light & {
        color: $color-white;
        background-color: $color-black;

        &:hover {
            background-color: $color-grey-dark;
        }
    }

    .t-dark & {
        color: $color-black;
        background-color: $color-white;

        &:hover {
            background-color: $color-grey-light;
        }
    }
}