.o-section {
	padding: $size-base-xl 0;
	width: $width-12;
	position: relative;
	z-index: 999;

	h1 {
		display: inline-block;
		font-size: toRems(64px);
		font-weight: 700;
		width: $width-12;
		padding: $size-base 0 $size-base-s !important;
	}
	
	h2 {
		font-family: $font-heading;
		font-weight: 700;
		font-size: toRems(48px);
		width: $width-12;
		padding: $size-base 0;
	}
	
	h3 {
		font-size: toRems(26px);
		width: $width-12;
		max-width: 600px;
		padding: $size-base-s 0;
	}

	p { 
		width: $width-12;
		max-width: 600px;
		padding-bottom: $size-base;
		font-size: toRems(18px);
		line-height: toRems(24px);

		@media screen and (max-width: $break-s) {
			padding: 0 $size-base $size-base;
		}
	}

	&--white {
		background: $color-white;
	}

	&--bg {

		&-2 {
			background: url('../../img/desbrownBg.jpg');
			background-position: bottom center;
			background-attachment: fixed;
			background-size: cover;

			@media screen and (max-width: $break-s){
				background-attachment: scroll;
			}
		}

		&-3 {
			background: #f5f5f7;
		}

		&-4 {
			background: #a9d7a8;
		}

		&-5 {
			background: #fcfcb6;
		}
	}

	&--splash {
		padding: $size-base-lg 0 $size-base-xl;

		p {
			padding: 0 $width-3;
			max-width: 100%;

			@media screen and (max-width: $break-s) {
				padding: 0 $size-base $size-base;
			}
		}
	}
}